# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\내 드라이브\프로젝트\sr_feedback\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
